@import "base";


.header{
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  padding: .5rem 2rem;
  background: $darkblueblack;
  border-bottom:2px solid #04c2c9; 

  &.--grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }
  .logo {
    -webkit-filter: invert(100%);
            filter: invert(100%);
    height: 2.5rem;
    width: auto;
    transform: scale(1.8, .8);
  }
  
  .nav-block{
    display: flex;
    align-items: center;
    align-content: center;

    li{
      display: inline-block;
      flex: 1;
      align-self: center;
    }
    a{
      color: white;
      font-weight: bold;
      align-self: center;
    }

  }
}
/*
=============================
---------HERO----------------
==============================
*/
.hero{
  display: grid;
  place-items : center;
  // background: url("../media/banner.jpg");
  // box-shadow: inset 0 0 0 1000px  #FF1B242f;
  background: $blueblack;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.hero__content{
  color: white;
  font-family: polya;
  text-align: center;
}
.hero__heading{
  margin: 0 auto 2rem auto;
  // font-size: %;
  text-shadow: 1px 1px 3px white;
}
.heading__shade{
  font-family: polya;
  color: $pink;
  text-shadow: 0px 0px 4px $pink,0px 0px 6px $pink,0px 0px 8px $pink,0px 0px 10px $pink,0px 0px 15px $pink;
  // font-weight: 700;
  font-size: 120%;
}

.--btn {
  $width: 250px;
  $border: 5px;
  margin: 1rem auto;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  height: 60px;
  width: $width;
  text-decoration: none;
  border: $border solid $blue;
  position: relative;
  padding-bottom: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  background: transparent;
  transition:  border-color .4s ease-in;
  cursor: pointer;
  .hero__btn__icon{
    margin-left: 1rem;
    transition: transform .4s linear;
  }

  &::before, &::after {
    content: '';
    position: absolute;
    height: 7px;
    width: $width / 5;
    background-color: $blueblack;
    clip-path: polygon(0 0,0 100%, 100% 100%,100% 0 );
    transition: left .35s ease-out, right .35s ease-out;
  }
  &::after {
    bottom: -($border + 1px);
    right: -($border + 1px);
  }
  &::before {
    top: -($border + 1px);
    left: -($border + 1px);
  }
  &:hover{
    border-color:$pink; 
    &::before {
      left: ($width - ($width / 5) - $border);
    }
    &::after {
      right: ($width - ($width / 5) - $border);
    }
    & .hero__btn__icon{
      transform: rotate(90deg);
    }
  }
}

/*
=============================
---------ABOUT----------------
==============================
*/
.about{
 background: #ccc;
}
.about__me{
  &.--grid{
    display: grid;
    grid-template-columns: 4fr 6fr;
  }
}
.about__me__text  {
  text-align: center;
  padding: 1rem 4rem;
  h3{font-weight: bold;}
   p{
     font-size: 1.5rem;
   }
}
.profile-container{

} 
.profile-image{
  -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
          clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);;
  background-size: cover;
  background-position: center;
}

/*
==============================
---------ABOUT SKILLS---------
==============================
*/

.skills__wrapper{
 width: 85%;
 margin: 0 auto;


  &.--grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
}

.skillsbox{
  filter: grayscale(100%);


  &.--grid{
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto auto;
    // border: 1px solid black;
    // background: #fff;
  }
  transition: visibility 10ms ease-out;
  &:hover{
    filter: grayscale(0%);
    // background: $blueblack;
    & .skillsbox__bar{
      visibility: visible;
    }
    & .color-bar{
        animation: color 500ms linear 10ms 1 forwards;

    }
  }
}
@-webkit-keyframes color{
  0% {width: 0%}
  100%{width: 60%}
}

.skillsbox__icon{
  width: 60%;
    width: 50%;
  // padding: .1rem 2.5rem;
    -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
          clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);;
  // background-size: cover;
  padding: 2rem 2.5rem;
  place-self:center;
}

.skillsbox__bar{
   width:100%;
   visibility: hidden;
   padding: .5rem .5rem;
   .bar-shell{
      height:1.5rem;
      // margin:5px 0 2px;
      background: #696868bb;
      border: 1px solid rgba(204, 204, 204, 0.911);
   }
    .color-bar{
      width: 60%;
      height: 100%;
      background: $pink;
    }
}

/*
==============================
------PROJECT SECTION---------
==============================
*/
.project__wrapper{
  width: 80%;
  margin: 0 auto;

  &.--grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
.project__screen{
  height: 100%;
  transition: all .4s ease-out; 
  &:hover{
    transform: scale(.9);
  }
}

/*
==============================
------BLOG SECTION------------
==============================
*/
.blog__container{
  font-family: 'Karla', sans-serif;
  width: 85%;
  margin: 0 auto;

  &.--grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }
}

.blog__block{

  &.--grid{
    display: grid;
    grid-template-columns: 160px 1fr;
    grid-template-rows: 110px;
  }
  transition: all .4s ease-out;
  &:hover{
    & .blog__img{
      opacity: 1;
    }
  }
}
.image__shell{
  position: relative;
  height: 100%;
}

// .date__shell{
//   position: absolute;
// }
.blog__date{
  position: relative;
      -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
          clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);;
  background:#ccc;

}
.blog__img{
  opacity: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: all .4s ease-out;

  // background-position: center; 
}
.date__shell{
  text-align: center;
  z-index: -1;
  color: #333;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  
    .date{
      
      font-weight: 900;
      font-size: 40px;
    }
    .month{
      

      color: rgb(92, 92, 92);
      font-size: .8rem;
      letter-spacing: 4px;
    }
}
.blog__title{
  font-family: 'Karla', sans-serif;
  font-size: 1.4rem;
  place-self: center; 
  color: #333;
  padding: .5rem;

}

.--btn {
  &.blog__btn{
    $width: 200px;
    $border: 5px;
    margin: 2rem auto;
    color: #333;
    font-size: 12px;
    height: 50px;
    width: $width;
    border: $border solid #333;
    padding-top: 2px;
    transition:  border-color .4s ease-in;
    cursor: pointer;

    &::before, &::after {
      content: '';
      position: absolute;
      height: 7px;
      width: $width / 5;
      background-color: #fff;
      transition: left .35s ease-out, right .35s ease-out;
    }
    &::after {
      bottom: -($border + 1px);
      right: -($border + 1px);
    }
    &::before {
      top: -($border + 1px);
      left: -($border + 1px);
    }
    &:hover{
      border-color:$blueblack; 
      &::before {
        left: ($width - ($width / 5) - $border);
      }
      &::after {
        right: ($width - ($width / 5) - $border);
      }
    }
  }
}
.blog{
  padding-bottom: 0;
}


/*
==============================
------CONTACT SECTION---------
==============================
*/
.contact{
  color: #FFF;
  padding: 10% 0 0 0;
  background: $blueblack;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 0);
clip-path: polygon(50% 20%, 100% 0, 100% 100%, 0 100%, 0 0);
input, textarea{
  width: 60%;
  margin: .5rem auto;
   border: 1px solid #999;
        border-radius: 3px;
        padding: 20px 10px 10px;

        background: rgb(38, 52, 73);
        ~ label {
            &:after {
                display: inline-block;
                position: absolute;
                right: 15px;
                top: 5px;
                font-size: 1.2rem;
            }
        }
        
        &:focus, &:not(:placeholder-shown) {
            ~ label {
                top: 5px;
                font-size: 0.65em;
            }
        }
    }    
}
// .button{
//   @extend .--btn
// }

/*
==============================
------Footer---------
==============================
*/
footer{
      background: #1B242F;
    padding: 70px 0 50px 0;
    // position: relative;
}

